<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/translationbyfee">
		</property>
		<property name="username" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>  
                <prop key="hibernate.format_sql">true</prop> 
			</props>
		</property>


		<property name="mappingResources">
			<list>
				<value>org/translate/min/entity/Order.hbm.xml</value>
				<value>
					org/translate/min/entity/TranslationArrange.hbm.xml
				</value>
				<value>
					org/translate/min/entity/GoodAtField.hbm.xml
				</value>
				<value>
					org/translate/min/entity/FreeTranslator.hbm.xml
				</value>
				<value>org/translate/min/entity/Language.hbm.xml</value>
				<value>org/translate/min/entity/Field.hbm.xml</value>
				<value>
					org/translate/min/entity/GoodAtLanguage.hbm.xml
				</value>
				<value>org/translate/min/entity/Client.hbm.xml</value>
				<value>
					org/translate/min/entity/LiveinTranslator.hbm.xml
				</value>
				<value>
					org/translate/min/entity/ClientComment.hbm.xml
				</value>
				<value>org/translate/min/entity/News.hbm.xml</value>
				<value>org/translate/min/entity/Roles.hbm.xml</value>
				<value>
					org/translate/min/entity/ObjectNews.hbm.xml
				</value>
				<value>
					org/translate/min/entity/PublicNews.hbm.xml
				</value>
				<value>
					org/translate/min/entity/DraftNews.hbm.xml
				</value>
				<value>
					org/translate/min/entity/FinishedNew.hbm.xml
				</value>
				<value>org/translate/min/entity/Notice.hbm.xml</value>
				<value>
					org/translate/min/entity/FinishedOrder.hbm.xml
				</value>
				<value>
					org/translate/min/entity/NoFinishedOrder.hbm.xml
				</value>
				<value>org/translate/min/entity/MyDraft.hbm.xml</value>
				
				<value>
					org/translate/min/entity/MyTranslate.hbm.xml
				</value>
				<value>org/translate/min/entity/MyLabel.hbm.xml</value></list>
		</property></bean>
	
	
	<!-- 声明事务管理器 -->
	<bean id="myHibernateManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- 定义事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="myHibernateManager">
		<tx:attributes>
			<tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="search*" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="*" propagation="SUPPORTS"/>
		</tx:attributes>	
	</tx:advice>
	<!-- 定义切面，并将事务通知和切面组合 -->
	<aop:config>  
		<aop:pointcut id="bizMethods" expression="execution(* org.translate.min.biz.*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="bizMethods"/>
	</aop:config>
	

	
	
	<!-- 处理微信业务逻辑 -->  
	<bean id="weixinDealAction" class="org.translate.min.action.WeixinDealAction"></bean>
	<!-- 主页转发 -->
	<bean id="mainAction" class="org.translate.min.action.MainAction"></bean>
	<!-- 生成 验证码-->
	<bean id="identifycode" class="org.translate.min.biz.impl.IdentifyCodeImpl"></bean>
	<bean id="idetifycodeaction" class="org.translate.min.action.IdentifyCodeAction">
		<property name="code" ref="identifycode"/>
	</bean>

	<!-- 处理用户订单 -->
	<bean id="placeOrderDao" class="org.translate.min.dao.impl.PlaceOrderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="placeOrderBiz" class="org.translate.min.biz.impl.PlaceOrderrBizImpl">
		<property name="pod" ref="placeOrderDao"/>
	</bean>
	<bean id="placeOrderAction" class="org.translate.min.action.PlaceOrderAction">
		<property name="pob" ref="placeOrderBiz"/>
	</bean>
	<!-- 查找登陆用户 -->
	<bean id="freeTranslatorDao" class="org.translate.min.dao.impl.FreeTranslateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="freeTranslatorBiz" class="org.translate.min.biz.impl.FreeTranslatorBizImpl">
		<property name="ftld" ref="freeTranslatorDao"/>
	</bean>
	<bean id="loginAction" class="org.translate.min.action.LoginAction">
		<property name="ftlb" ref="freeTranslatorBiz"/>
	</bean>
	<!-- 处理我的信息 -->
	<bean id="myInfoDao" class="org.translate.min.dao.impl.MyInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="myInfoBiz" class="org.translate.min.biz.impl.MyInfoBizImpl">
		<property name="myinfodao" ref="myInfoDao"/>
	</bean>
	<bean id="myInfoAction" class="org.translate.min.action.MyInfoAction">
		<property name="myinfobiz" ref="myInfoBiz"/>
	</bean>
	<bean id="upPictureAction" class="org.translate.min.action.UpPictureAction">
		<property name="myinfobiz" ref="myInfoBiz"/>
	</bean>

	
	<!-- 处理在线任务-->
	<bean id="recomendNewsDao" class="org.translate.min.dao.impl.RecomendNewsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="recomendNewsBiz" class="org.translate.min.biz.impl.RecomendNewsBizImpl">
		<property name="red" ref="recomendNewsDao"/>
	</bean>
	<bean id="recomendNewsAction" class="org.translate.min.action.RecomendNewsAction">
		<property name="redb" ref="recomendNewsBiz"/>
	</bean>
	<bean id="translateNewAction" class="org.translate.min.action.TranslateNewAction">
		<property name="redb" ref="recomendNewsBiz"/>
	</bean>
	<bean id="draftNewsAction" class="org.translate.min.action.DraftNewsAction">
		<property name="redb" ref="recomendNewsBiz"/>
	</bean>
	<bean id="submitNewsAction" class="org.translate.min.action.SubmitNewsAction">
		<property name="redb" ref="recomendNewsBiz"/>
	</bean>
	<!-- 处理新加入的翻译员 -->
	<bean id="utilDao" class="org.translate.min.dao.impl.UtilDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="utilBiz" class="org.translate.min.biz.impl.UtilBizImpl">
		<property name="utildao" ref="utilDao"/>
	</bean>
	<bean id="liveinTranslatorDao" class="org.translate.min.dao.impl.LiveinTranslateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="liveinTranslatorBiz" class="org.translate.min.biz.impl.LiveinTranslatorBizImpl">
		<property name="ltld" ref="liveinTranslatorDao"/>
	</bean>
	<bean id="joinusclubAction" class="org.translate.min.action.JoinusClubAction">
		<property name="ubz" ref="utilBiz"/>
		<property name="ltlb" ref="liveinTranslatorBiz"/>
	</bean>
	
	<!-- 验证用户是否登录 -->
	<bean id="isLoginAction" class="org.translate.min.action.IsLoginAction">
	</bean>
	<!-- 验证管理员登录 -->
	<bean id="managerLoginAction" class="org.translate.min.action.ManagerLoginAction">
		<property name="ubz" ref="utilBiz"/>
	</bean>
	<!-- 用户退出 -->
	<bean id="myExitAction" class="org.translate.min.action.MyExitAction">
	</bean>


	
		
	</beans>