.check{
	width:120px;
	height:47px;
	margin:2px 25px 4px 2px;
	float: left;
	text-align: left;
}

.galanguage,.selfdesc,.gafields,.certification,.fileupload,.subspace{
	width:206px;
	height:100px;
	float: left;
	text-align: right;
	margin-top: 10px;
}
.language,.desc,.fields,.upload,.sub{
	width:760px;
	height:115px;

	float: left;
	text-align: right;
	margin:4px auto auto 12px;
}

.namediv{
	width:350px;
	height:40px;
	margin:5px auto auto 90px;
	float:left;
	text-align: right;
}
.two_content{
	width:100%;
	height: 120px;
	margin: 2px 0 2px 0;
}
.tc_01{
	height:40px;
	border-bottom: 2px solid lightgray;
	text-align: left;
}
#title{
	width: 100%;
	height: 30px;
	margin-top: 3px;
	text-align: left;
	padding-left: 10px;
	border-bottom: 1px dashed lightgray;
}
#fylc{
	width: 100%;
	height: 30px;
	margin-top: 3px;
	text-align: left;
	border-bottom: 1px dashed lightgray;
}
#fyliimg{
	width: 100%;
	height: 50px;
	margin-top: 3px;
	text-align: left;
}
#description{
	width: 100%;
	height: 50px;
	margin-top: 3px;
	text-align: left;
	border-bottom: 1px dashed lightgray;
}
#procedure{
	width: 100%;
	height: 80px;
	margin-top: 3px;
	text-align: left;
	padding-left: 10px;
}
.word{
	font-family:Arial,Helvetica,sans-serif;
	font-size:1.12em;
	vertical-align:middle;
	color:gray;
	font-weight: bold;
}
.baseword{
	color:#aaa;
	font-family:¡±Î¢ÈíÑÅºÚ¡±,¡±ºÚÌå¡±,¡±ËÎÌå¡±;
	font-size:23px;
	line-height:36px;
	font-weight:bold;
	padding:0;
	text-align:left;
	text-shadow:1px 1px 1px #E1FFFF, -1px -1px 1px #E1FFFF;
	width:auto;
}


.divone{
	width: 995px;
	height: 138px;
}
.divtwo{
	width:993px;
	height: 1230px;
	margin-top:20px; 
}
.two_desc{
	width:100%;
	height:200px;
	
}
.two_cont{
	width:100%;
	height:82%;
}
.divthree{
	width:993px;
	height: 100px;
	margin-top:10px; 
	border-top: 1px solid lightgray;
	margin-top:15px;
	padding-top: 10px; 
}


input,.inout,.textarea {
	 background:#fff;
	 border: 1px solid lightgray;
	 padding:5px;
	 border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
     margin: 5px 1px auto 3px;
     width: 210px;
     height: 30px;
     font-size: 15px;
     color: gray;
     
}










.b1,.b2,.b3,.b4,.b1b,.b2b,.b3b,.b4b,.b{display:block;overflow:hidden;}
.b1,.b2,.b3,.b1b,.b2b,.b3b{height:1px;}
.b2,.b3,.b4,.b2b,.b3b,.b4b,.b{border-left:1px solid lightgray;border-right:1px solid lightgray;}
.b1,.b1b{margin:0 5px;background:lightgray;}
.b2,.b2b{margin:0 3px;border-width:2px;}
.b3,.b3b{margin:0 2px;}
.b4,.b4b{height:2px;margin:0 1px;}
.d1{background:#F7F8F9;}
.k {height:90%;}
.h {height:100%;}


.partone{
	width: 33%;
	height: 200px;
	float: left;
	text-align: left;
	font-size: 13px;
}
.partone ul li{
	margin-top: 3px;
}
.partone ul li a{
	color: #778899;
}
.parttwo{
	width: 40%;
	height: 100px;
	float: right;
	margin-right: 2px;
	text-align: right;
	font-size: 13px;
	
}
.parttwo span a{
	color: #778899;
}