.translatordetail{
	width:100%;
	height:auto;
	
}
#info1{
	width:99.5%;
	height:310px;
	margin: 2px auto 4px 2px;
}
#info2{
	width:100%;
	border-top:1px dashed lightgray;
	margin: 6px auto 4px 0px;
}
#info2 p{
	font-weight: normal;
	margin-top: 10px;
	margin-left: 4px;
}
#info1 #left{
	width:44%;
	float:left;
	border:1px solid rgba(227, 233, 227, 1);
}
#info1 #right{
	width:54%;
	float:left;
	margin-left:10px;
}
#info1 #right p{
	line-height: 30px;
}